* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark: black;
  --light: white;
  --hover: orange;
}
.login_Heading{
  margin-bottom: 30px;
}

.login_outer_div {
  background-color: var(--dark);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
}
.login_outer_div form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  line-height: 40px;
}
.form_input_field_div {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
}
.form_input_field_div input {
  height: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-size: 19px;
  padding: 5px 10px;
  border: 1px solid var(--light);
  background: transparent;
  border-radius: 3px;
  color: var(--light);
}

.form_input_field_div input::placeholder {
  color: var(--light);
  padding: 5px;
  font-size: 17px;

}
.form_input_field_div .Login_button {
  border-radius: 3px;
  height: 40px;
  border-color: var(--light);
  background: transparent;
  font-size: 18px;
  color: var(--light);
  transition: 0.2s ease-in-out;
}
.form_input_field_div .Login_button:hover {
  border-color: var(--hover);
  color: var(--hover);
}
/* dividing using the OR char. */

.divider{
  margin: 10px 0;
}
/* already have an account  */

.link_signIn{
  text-decoration: none;
  font-size: 17px;
}
.have_account {
  display: flex;
  justify-content: center;
  color: white;
}
.have_account span{
  margin-left: 10px;
  color: orange;

}
