* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark: black;
  --light: white;
  --hover: rgb(254, 166, 2);
}

.login_outer_div {
  background-color: var(--dark);
  padding: 20px;
  width: 100%;
  line-height: 28px;

}
.login_outer_div form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.login_Heading {
  color: white;
}

.login_Heading .App_logo {
  color: orange;
}
.form_input_field_div {
  display: flex;
  flex-direction: column;
}
.form_input_field_div input {
  height: 40px;
  margin-bottom: 10px;
  font-size: 17px;
  padding: 5px 10px;
  border: 1px solid var(--light);
  background: transparent;
  border-radius: 3px;
}
.form_input_field_div input::placeholder {
  color: var(--light);
}
.form_input_field_div .Login_button {
  border-radius: 3px;
  height: 40px;
  border-color: var(--light);
  background: transparent;
  font-size: 18px;
  color: var(--light);
}
p {
  color: var(--light);
  display: grid;
  place-items: center;
  font-size: 17px;
}
.Social_account_links {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
}
.Social_account_links button {
  height: 40px;
  margin-bottom: 10px;
  background: transparent;
  border: 2px solid var(--light);
  border-radius: 3px;
  color: var(--light);
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Social_account_links button img {
  height: auto;
  width: 20px;
  margin-right: 10px;
}
.check_term_and_conditions {
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  letter-spacing: 0.5px;
}
.check_term_and_conditions input {
  margin: 0 10px;
  height: 18px;
  width: 18px;
}
.text_of_condition a {
  margin-left: 8px;
  color: rgb(254, 166, 2);
  text-decoration: none;
  border-bottom: 2px dotted orange;
  transition: 0.5s ease-in-out;
}
.text_of_condition a:hover {
  color: rgb(212, 139, 2);
}
.create_account {
  margin-top: 7px;
  text-align: center;
  padding: 0 10px;
}
.create_account a {
  color: white;
  text-decoration: none;
}
.create_account a span {
  color: rgb(212, 139, 2);
}
